body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    max-width: 85%;
    color: #5A5A5A;
}

img {
    max-width: 95%;
}

#socialicons li{
    display:inline-block;
    max-width:15%
}

#socialicons ul{
    position:relative;
    float:right;
    padding-left:85%
}

#socialicons li:last-of-type{
    padding-left: 10%;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    margin-bottom:5%;
}


#logo{
    width:15%;
    position: absolute;
    z-index:2;
    margin-top: 3%;
}

.nav{
    float:right;
    position: relative;
    box-shadow: 0px 2px 4px #958585;
    top: 5%;
    left: 0;
    width:100%;
    margin-bottom: 6%;
    margin-top: 5%;
    background-color: rgba(255, 123, 172, 0.27);
    z-index: 1;
}


ul {
    list-style-type: none;
    margin: 0;
    float: right;
    padding: 0;
    display:inline-block;
    z-index: 0;
    overflow: hidden;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.nav li {
    float: left;
    color: #4A4A4A;
    padding-left: 50px;
    font-weight: 100;
}

.nav li:last-of-type{
    padding-right: 50px;
}


.nav li a {
    display: block;
    color: #4A4A4A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgba(255, 123, 172, 0.27);
}

.nav li {
    display: inline;
}


.leftcontent{
    float:left;
    position:relative;
    max-width:40%;
    margin-right:0%;
}

.contentblock{
    margin-left:15%;
    margin-right:10%;
}

#shippinginfo{
    max-width:50%;
    position: relative;
    z-index:2;
    padding-top:100%;
}

#bunimage {
    position:absolute;
    z-index: 1;
}


.rightcontent{
    float:right;
    max-width: 50%;
    background-color: #EAEAEA;
    box-shadow: 8px 8px 6px #958585;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top:5%;

}

h1{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: 4A4A4A;
    font-style: italic;
    margin-bottom: 10%;
    text-align: center;
}

p {
    text-align: center;
    font-weight:100;
}

.signaturebox{
    float:right;
    padding-top: 2%;
}

#signatureimg{
    max-width: 45%;
    float:right;
}


#signatureline {
    float:right;
    font-size:12px;
    font-style: italic;
}

#thumb{
    width:5%;
    padding-bottom:4%;
}


#name {
    width:8%;
    padding-right:6%;
    padding-bottom:4%;

}
#name a {
    text-decoration: none;
    color:#5A5A5A;
}

#name a:hover {
    color: rgb(255, 123, 172);
}

#menutitles {
    width:100%;
    display:inline-block;
    margin-bottom: 3%;
}

h2{
    display:inline;
    padding-right: 4%;
    color: rgba(255, 123, 172, 0.27);
    font-style: italic;
}

 u {
    text-decoration: none;
    border-bottom: .5px solid #5A5A5A;
  }

#otherflavors u:after {
    content: "......................";
    color: transparent;
}

#greyout{
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index:1;
    position:fixed;
    width:65%;
    margin-top:15%
}

.popupblock{
    background-color:#eAeAeA;
    box-shadow: 0px 2px 4px #958585;
    position:fixed;
    z-index:2;
    margin-top:20%;
    margin-left:5%;
        width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;

}

#bunproductimage {
    width:90%;
}


#leftpopup{
    float:left;
    position:relative;
    width:40%;
    display:block;
}


#rightpopup p{
    text-align: left;
}

#rightpopup {
    width:50%;
    float:right;
    position:relative;
    text-align: left;
    display:block;
}

#closebutton {
    text-decoration: none;
    color:#5A5A5A;
    float:right;
    padding-right:3%;
    padding-top:2%
}

#closebutton a:hover{
    background-color: hotpink;
}

#cartbutton{
    margin-right:5%;
    text-decoration:none;
    text-align:center;
    font-size:14px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color:#5A5A5A;
    border:none;
    box-shadow: 0px 2px 4px #958585;
    background-color:rgba(255, 123, 172, 0.27);
    float:right;
    margin-right: 5%;
    margin-bottom:5%;
}

#returnbutton{
    margin-left:40%;
    text-decoration:none;
    text-align:center;
    font-size:14px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color:#5A5A5A;
    border:none;
    box-shadow: 0px 2px 4px #958585;
    background-color:rgba(255, 123, 172, 0.27);
    margin-right: 5%;
    margin-bottom:5%;
}